https://github.com/jimdoescode/CodeIgniter-YouTube-API-Library
https://developers.google.com/youtube/articles/codeigniter_library
https://github.com/simplynice25/gagllery/blob/master/application/controllers/upload.php
http://stackoverflow.com/questions/17251007/getting-title-description-and-number-of-views-of-a-youtube-video
http://stackoverflow.com/questions/7772801/getting-time-length-of-youtube-video-file


http://stackoverflow.com/questions/2234169/best-way-to-convert-title-into-url-compatible-mode-in-php

http://bestofyoutube.com/
http://devour.com/
http://www.wimp.com/
https://www.google.com.ph/search?q=best+of+youtube+videos+website&oq=best+of+youtube+videos+website&aqs=chrome..69i57j0l5.6544j0j7&sourceid=chrome&espv=210&es_sm=122&ie=UTF-8
function slugify($text)

{

  // replace all non letters or digits with -

  $text = preg_replace('/\W+/', '-', $text);



  // trim and lowercase

  $text = strtolower(trim($text, '-'));

  return $text;

}
<?php

function to_permalink($str)
{
	if($str !== mb_convert_encoding( mb_convert_encoding($str, 'UTF-32', 'UTF-8'), 'UTF-8', 'UTF-32') )
		$str = mb_convert_encoding($str, 'UTF-8', mb_detect_encoding($str));
	$str = htmlentities($str, ENT_NOQUOTES, 'UTF-8');
	$str = preg_replace('`&([a-z]{1,2})(acute|uml|circ|grave|ring|cedil|slash|tilde|caron|lig);`i', '\\1', $str);
	$str = html_entity_decode($str, ENT_NOQUOTES, 'UTF-8');
	$str = preg_replace(array('`[^a-z0-9]`i','`[-]+`'), '-', $str);
	$str = strtolower( trim($str, '-') );
	return $str;
}

?>
<script>
var tag = document.createElement('script');
tag.src = "http://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;
function onYouTubePlayerAPIReady() {
	player = new YT.Player('player', {
	  videoId: config.yt_id,
	  events: {
		'onStateChange': onPlayerStateChange
	  }
	});
}

var myPlayerState;
function onPlayerStateChange(event) {
	if (event.data == YT.PlayerState.PLAYING) {
		showHideYT(0);
	} else if (event.data == YT.PlayerState.ENDED) {
		showHideYT(1);
	}
	myPlayerState = event.data;
}

function showHideYT(action) {
	$(".now-playing").each(function(){
		$(this).hide();
	})

	if(action == 0) {
		$(".now-playing[data-youtube-id="+config.yt_id+"]").show();
	}
}
</script>